<div id="__comments_script"></div>
<script>
  var comments = document.createElement('script');
  var commentsTheme = document.body.dataset.mdColorScheme === 'slate' ? 'dark' : 'light';

  Object.entries({
    async: true,
    src: "https://giscus.app/client.js",
    crossOrigin: "anonymous",
    "data-repo": "damonc-top/damonc-top.github.io",
    "data-repo-id": "R_kgDOHK_iGQ",
    "data-category":"{% if config.theme.language == 'zh' %}评论{% else %}Comments{% endif %}",
    "data-category-id": "DIC_kwDOHK_iGc4COonC",
    "data-mapping": "pathname",
    "data-strict": "1",
    "data-reactions-enabled": "1",
    "data-emit-metadata": "0",
    "data-input-position": "top",
    "data-theme": commentsTheme,
    "data-lang": "{% if config.theme.language == 'zh' %}zh-CN{% else %}en-US{% endif %}",
    "data-loading": "lazy",
  }).forEach(e => comments.setAttribute(e[0], e[1]));

  document.getElementById('__comments_script').replaceWith(comments);
</script>
